[Unit]
Description=Armadillo Authentication Container
After=podman
Requires=podman

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStartPre=/usr/bin/podman pull molgenis/rserver:{{ image.version }}
ExecStart=/usr/bin/podman run --rm --name %n --env-file /etc/rserver/env.list --network host molgenis/rserver:{{ image.version }}

[Install]
WantedBy=multi-user.target

