version: "3"

services: 
  armadillo:
    image: molgenis/armadillo:{{ version }}
{% if (ansible_os_family == "RedHat" or ansible_os_family == "Rocky") and ansible_distribution != "CentOS" %}
    network: host
{% endif %}
    environment:
      - SPRING_PROFILES_ACTIVE=production
      - SPRING_CONFIG_LOCATION=/app/conf/
    ports:
      - 8080:8080
    volumes:
      - /etc/armadillo/:/app/conf/
      - /var/log/armadillo/:/app/logs/
    restart: unless-stopped
