[Unit]
Description=Armadillo RServer Container
After={{ docker_service }}
Requires={{ docker_service }}
StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
TimeoutStartSec=120
RestartSec=90
Restart=always
ExecStop=-/usr/bin/{{ docker_service }} stop %n
ExecStop=-/usr/bin/{{ docker_service }} rm %n
ExecStart=/usr/bin/{{ docker_service }} run --rm --name %n --env-file /etc/rserver/env.list --network host molgenis/rserver:{{ image.version }}

[Install]
WantedBy=multi-user.target

