[Unit]
Description=Armadillo RServer Container
After={{ docker.service }}
Requires={{ docker.service }}

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/{{ docker.service }} stop %n
ExecStartPre=-/usr/bin/{{ docker.service }} rm %n
ExecStartPre=/usr/bin/{{ docker.service }} pull molgenis/rserver:{{ image.version }}
ExecStart=/usr/bin/{{ docker.service }} run --rm --name %n --env-file /etc/rserver/env.list --network host molgenis/rserver:{{ image.version }}

[Install]
WantedBy=multi-user.target

