<VirtualHost {{ ansible_default_ipv4.address }}:80>
   ServerAdmin admin@molgenis.org

   ServerName {{ inventory_hostname }}
   ServerAlias {{ inventory_hostname }}

   SSLProxyEngine on
   RewriteEngine on

   {% for app in frontend.proxy[frontend.version] -%}
   RewriteRule ^/@molgenis-ui/{{- app.split('@')[0] }}/(.+) /@molgenis-ui/{{- app }}/$1 [P]
   {% endfor %}

   # proxy frontend
   ProxyPass /@molgenis-ui https://unpkg.com/@molgenis-ui
   ProxyPassReverse /@molgenis-ui https://unpkg.com/@molgenis-ui

   # proxy backend
   ProxyPass / http://localhost:8080/
   ProxyPassReverse / http://localhost:8080/

</VirtualHost>
