<VirtualHost {{ ansible_default_ipv4.address }}:80>
   ServerAdmin admin@molgenis.org

   ServerName {{ inventory_hostname }}
   ServerAlias {{ inventory_hostname }}

   RewriteEngine on
   RewriteCond %{SERVER_NAME} ={{ inventory_hostname }}
   RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [NE,R=permanent]

</VirtualHost>

<VirtualHost {{ ansible_default_ipv4.address }}:443>

  ServerAdmin admin@molgenis.org

  ServerName {{ inventory_hostname }}
  ServerAlias {{ inventory_hostname }}

  SSLProxyEngine on
  RewriteEngine on

  {% for app in frontend.proxy[frontend.version] -%}
  RewriteRule ^/@molgenis-ui/{{- app.split('@')[0] }}/(.+) /@molgenis-ui/{{- app }}/$1 [P]
  {% endfor %}

  # proxy frontend
  ProxyPass /@molgenis-ui https://unpkg.com/@molgenis-ui
  ProxyPassReverse /@molgenis-ui https://unpkg.com/@molgenis-ui

  # proxy backend
  ProxyPass / http://localhost:8080/
  ProxyPassReverse / http://localhost:8080/

  RequestHeader set X-Forwarded-Proto "https"
  RequestHeader set X-Forwarded-Port "443"

  SSLEngine On

  SSLCertificateFile /etc/pki/tls/certs/{{ inventory_hostname }}/certificate.crt
  SSLCertificateKeyFile /etc/pki/tls/certs/{{ inventory_hostname }}/private.key
  SSLCertificateChainFile /etc/pki/tls/certs/{{ inventory_hostname }}/serverchain.crt
</VirtualHost>
