location / {
    proxy_pass http://localhost:8080;
    client_max_body_size 0;
    proxy_read_timeout 600s;
    proxy_redirect http://localhost:8080/ $scheme://$host/;
    proxy_set_header Host $host;
    proxy_http_version 1.1;
}

location /@molgenis-ui{
    proxy_pass https://unpkg.com/@molgenis-ui;

    {% for app in frontend.proxy[frontend.version] -%}
    rewrite ^/@molgenis-ui/{{- app.split('@')[0] }}/(.+) /@molgenis-ui/{{- app }}/$1;
    {% endfor %}
# extra special frontends below
}
