# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target network-online.target

[Service]
Type=forking

Environment="JAVA_HOME=/usr/java/jdk-17"
Environment="JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_PID=/usr/share/tomcat/temp/tomcat.pid"
Environment="CATALINA_HOME=/usr/share/tomcat"
Environment="CATALINA_BASE=/usr/share/tomcat"
Environment="CATALINA_OPTS=-Xms{{ minmem }}M -Xmx{{ maxmem }}M -server -Dmolgenis.home=/usr/local/share/molgenis/"

ExecStart=/usr/share/tomcat/bin/startup.sh
ExecStop=/usr/share/tomcat/bin/shutdown.sh

User=tomcat
Group=molgenis
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
