podman run --network=host \
--restart on-failure \
--name=armadillo-auth \
--env-file /etc/armadillo/auth/env.list \
--memory {{ resources.memory }} \
--detach {{ image.repo }}/{{ image.name }}:{{ image.version }}
