version: "3"

services:
  minio:
    image: quay.io/minio/minio:RELEASE.{{ version }}
    ports:
      - {{ minio.port }}:{{ minio.port }}
{% if ansible_os_family == "RedHat" or ansible_os_family == "Rocky" %}
    network: host
{% endif %}  
    environment:
      MINIO_VOLUMES: {{ data }}
      MINIO_DOMAIN: {{ minio.domain }}
      MINIO_ROOT_USER: {{ root_user }}
      MINIO_ROOT_PASSWORD: {{ root_password }}
{% if oauth is defined %}
      MINIO_IDENTITY_OPENID_REDIRECT_URI: {{ protocol }}://{{ minio.domain }}/oauth_callback
      MINIO_IDENTITY_OPENID_CLIENT_ID: {{ oauth.client_id }}
      MINIO_IDENTITY_OPENID_CLIENT_SECRET: {{ oauth.client_secret }}
      MINIO_IDENTITY_OPENID_CONFIG_URL: {{ oauth.issuer_uri }}/{{ oauth.discovery_path }}
{% endif %}
      MINIO_BROWSER: 'off'
    command: server /data
    volumes:
      - {{ data }}:/data
    restart: unless-stopped
