version: "3"

services:
  auth:
    image: {{ image.repo }}/{{ image.name }}:{{ image.version }}
{% if ansible_os_family == "RedHat" or ansible_os_family == "Rocky" %}
    network: host
{% endif %}
    environment:
      # FusionAuth API token which allows you to perform actions on the FusionAuth server
      FUSION_API_TOKEN: {{ api_token }}
      # Apollo server port
      SERVER_PORT: 4000
      # Auth URL
      ISSUER_BASE_URL: {{ oauth.issuer_uri }}/
      # ClientID that corresponds with the application registered in the auth server
      CLIENT_ID: {{ oauth.client_id }}
      # ClientSECRET that corresponds with the application registered in the auth server
      CLIENT_SECRET: {{ oauth.client_secret }}
      # Apollo server base url
      BASE_URL: {{ base_url }}
      # Entropy needed to generate secure session ID's
      APP_SESSION_SECRET: {{ ansible_date_time.iso8601_micro | to_uuid | upper }}
    ports:
      - 4000:4000
    restart: unless-stopped
