server:
  servlet:
    session:
      timeout: 30m

spring:
  security:
    oauth2:
      resourceserver:
        jwt: 
          issuer-uri: {{ oauth.issuer_uri }}
        opaquetoken:
          client-id: {{ oauth.client_id }}
    user:
      name: {{ username }}
      password: {{ password }}

datashield:
  whitelist: 
    - dsBase
    - resourcer

minio:
  url: {{ storage.host }}
  port: {{ storage.port }}
  access-key: {{ storage.access_key }}
  secret-key: {{ storage.secret_key }}
