[Unit]
Description=Armadillo Authentication Container
After={{ docker_service }}
Requires={{ docker_service }}
StartLimitIntervalSec=90
StartLimitBurst=3

[Service]
TimeoutStartSec=90
RestartSec=60
Restart=always
ExecStop=-/usr/bin/{{ docker_service }} stop %n
ExecStop=-/usr/bin/{{ docker_service }} rm %n
ExecStart=/usr/bin/{{ docker_service }} run --rm --name %n --env-file /etc/armadillo/auth/env.list --network host {{ image.repo }}/{{ image.name }}:{{ image.version }} > /var/log/armadillo/auth/auth.log

[Install]
WantedBy=multi-user.target

