---
- name: Deployment for MOLGENIS - operational development
  hosts: "{{ host_group }}"
  gather_facts: true
  become: true
  vars:
    host_group: "all"
    experimental: false
    ci: false
    minio:
      access_key: molgenis
      secret_key: molgenis
      port: 9000
      host: http://localhost
    httpd:
      setup: true
      ssl: false
      hostname: molgenis.local
    molgenis:
      setup: true
      version: 8.7.2
      ssh: true
      
  roles:
    # system configuration
    - role: swap_centos8
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    - role: preinstall_centos8
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    # application configuration
    - role: java_centos8
      vars:
        version: 11
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    - role: elasticsearch_centos8
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    - role: postgres_11_centos8
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    - role: minio_centos8
      vars:
        version: 2020-07-02T00-15-09Z
        data: /var/lib/minio/data
        access_key: "{{ minio.access_key }}"
        secret_key: "{{ minio.secret_key }}"
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    - role: tomcat_centos8 
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    - role: molgenis_centos8
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    - role: httpd_centos8
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
      
    # additional configuration
    - role: python_centos8
      when: ansible_distribution == "CentOS" and ansible_distribution_major_version == '8'
    - role: postinstall
