[Unit]
Description=Rserve Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull molgenis/rserver:{{ image.version }}
ExecStart=/usr/bin/docker run --rm --name %n molgenis/rserver:{{ image.version }}

[Install]
WantedBy=multi-user.target