version: "3"

services:
  armadillo:
    extends:
      file: services/armadillo.yml
      service: armadillo
    depends_on:
      - minio
{% for environment in rserve.environments %}
{% if environment.enabled %}
      - rserver-{{ environment.name }}
{% endif %}
{% endfor %}

  minio:
    extends: 
      file: services/minio.yml
      service: minio

  console:
    extends: 
      file: services/console.yml
      service: console

  auth:
    extends: 
      file: services/auth.yml
      service: auth

{% for environment in rserve.environments %}
{% if environment.enabled %}
  rserver-{{ environment.name }}: 
    extends: 
      file: services/rservers/{{ environment.name }}.yml
      service: rserver-{{ environment.name }}

{% endif %}
{% endfor %}
