server {
    listen 80;
    server_name {{ domains.storage }};

    location / {
        proxy_pass http://localhost:9000;
        client_max_body_size 0;
        proxy_read_timeout 600s;
        proxy_redirect http://localhost:9000/ $scheme://$host/;
        proxy_set_header Host $host;
        proxy_http_version 1.1;
    }

    include /etc/nginx/robots.d/*.conf;
}


